<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Pokemon</title>
  </head>
  <body>
    <h1>All Pokemon</h1>
    <%= button_to "Back to Main Menu", "/", method: :get %>

    <% @pokemons.each.with_index(1) do |pokemon, index| %>
      <% @count = Trainer.joins(:pokemons).where(pokemons: {name: "#{pokemon.name}"}).count %>
      <p><%= "#{index}. #{pokemon.name.capitalize}: "%> <%= link_to "#{@count} trainer(s)", pokemon_path(pokemon) %></p>
    <% end %>

  </body>
</html>
