<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokemons Page</title>
  </head>
  <body>
    <% @pokemons.each do |pokemon| %>
      <h1><%= pokemon.name %></h1>
    <% end %>
  </body>
</html>
